<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.cuijing.sundial_dream.mapper.DonationMapper">
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句
 -->
	<resultMap id="Donation" type="com.cuijing.sundial_dream.entity.Donation">
		<id property="donationId" column="id"></id>
		<id property="donationMoney" column="donation_money"></id>
		<id property="donationTime" column="donation_time"></id>
		<id property="donationMemo" column="donation_memo"></id>
		<id property="shenHeState" column="shenHeState"></id>
		<id property="isDel" column="is_del"></id>
	</resultMap>

	<select id="selectAllDonation" resultMap="Donation" parameterType="com.cuijing.sundial_dream.condition.DonationCondition">
		select * from t_donation d
		<where>
			d.is_del = 0
			<if test="condition.userId != null">
				and d.user_id = #{condition.userId}
			</if>
			<if test="condition.donationGeTime != null">
				and d.donation_time <![CDATA[ >= ]]> #{condition.donationGeTime}
			</if>
			<if test="condition.donationLeTime != null">
				and d.donation_time <![CDATA[ <= ]]> #{condition.donationLeTime}
			</if>
			<if test="condition.donationStartTime != null and condition.donationEndTime != null">
				and (d.donation_time <![CDATA[ >= ]]> #{condition.donationStartTime} and d.donation_time <![CDATA[ <= ]]> #{condition.donationEndTime})
			</if>
		</where>
	</select>

	<delete id="deleteByCondition" parameterType="com.cuijing.sundial_dream.condition.DonationCondition">
		delete from t_donation d set is_del = 1
		<where>
			<if test="condition.userId != null">
				and d.user_id = #{condition.userId}
			</if>
			<if test="condition.donationGeTime != null">
				and d.donation_time <![CDATA[ >= ]]> #{condition.donationGeTime}
			</if>
			<if test="condition.donationLeTime != null">
				and d.donation_time <![CDATA[ <= ]]> #{condition.donationLeTime}
			</if>
			<if test="condition.donationStartTime != null and condition.donationEndTime != null">
				and (d.donation_time <![CDATA[ >= ]]> #{condition.donationStartTime} and d.donation_time <![CDATA[ <= ]]> #{condition.donationEndTime})
			</if>
		</where>
	</delete>

</mapper>
