<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.cuijing.sundial_dream.mapper.NewsMapper">
	<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象
    mapper.xml以statement为单位管理sql语句
     -->
	<!-- 添加留言记录 -->
	<resultMap id="News" type="com.cuijing.sundial_dream.entity.News">
		<id property="newsId" column="id"></id>
		<id property="userId" column="user_id"></id>
		<id property="title" column="title"></id>
		<id property="newsType" column="new_type"></id>
		<id property="content" column="content"></id>
		<id property="publishDate" column="publish_time"></id>
		<id property="isDel" column="is_del"></id>
	</resultMap>

	<select id="selectNewsByPage" resultMap="News" parameterType="com.cuijing.sundial_dream.condition.NewsCondition">
		select * from t_news n
		<where>
			n.is_del = 0
			<if test="condition.id != null">
				and n.id = #{condition.id}
			</if>
			<if test="condition.title != null">
				and n.title like concat("%",#{condition.title},"%")
			</if>
			<if test="condition.userId != null">
				and n.user_id = #{condition.userId}
			</if>
			<if test="condition.newsType != null">
				and n.news_type = #{condition.newsType}
			</if>
			<if test="condition.newsGeTime != null">
				and n.publish_date <![CDATA[ >= ]]> #{condition.newsGeTime}
			</if>
			<if test="condition.newsLeTime != null">
				and n.publish_date <![CDATA[ <= ]]> #{condition.newsLeTime}
			</if>
			<if test="condition.newsStartTime != null and condition.newsEndTime != null">
				and (n.publish_date <![CDATA[ >= ]]> #{condition.newsStartTime} and n.publish_date <![CDATA[ <= ]]> #{condition.newsEndTime})
			</if>
		</where>
	</select>

	<delete id="deleteManyNews" parameterType="com.cuijing.sundial_dream.condition.SignUpCondition">
		delete from t_news n set is_del = 1
		<where>
			<if test="condition.id != null">
				and n.id = #{condition.id}
			</if>
			<if test="condition.title != null">
				and n.title like concat("%",#{condition.title},"%")
			</if>
			<if test="condition.userId != null">
				and n.user_id = #{condition.userId}
			</if>
			<if test="condition.newsType != null">
				and n.news_type = #{condition.newsType}
			</if>
			<if test="condition.newsGeTime != null">
				and n.publish_date <![CDATA[ >= ]]> #{condition.newsGeTime}
			</if>
			<if test="condition.newsLeTime != null">
				and n.publish_date <![CDATA[ <= ]]> #{condition.newsLeTime}
			</if>
			<if test="condition.newsStartTime != null and condition.newsEndTime != null">
				and (n.publish_date <![CDATA[ >= ]]> #{condition.newsStartTime} and n.publish_date <![CDATA[ <= ]]> #{condition.newsEndTime})
			</if>
		</where>
	</delete>

</mapper>
