<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.cuijing.sundial_dream.mapper.SignUpMapper">
	<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象
    mapper.xml以statement为单位管理sql语句
     -->
	<!-- 添加留言记录 -->
	<resultMap id="SignUp" type="com.cuijing.sundial_dream.entity.SignUp">
		<id property="signId" column="id"></id>
		<id property="activityId" column="activity_id"></id>
		<id property="userId" column="user_id"></id>
		<id property="signUpVow" column="sign_up_vow"></id>
		<id property="signUpTime" column="sign_up_time"></id>
		<id property="isDel" column="is_del"></id>
	</resultMap>

	<select id="selectSignByPage" resultMap="SignUp" parameterType="com.cuijing.sundial_dream.condition.SignUpCondition">
		select * from t_sign_up s
		<where>
			s.is_del = 0
			<if test="condition.id != null">
				and s.id = #{condition.id}
			</if>
			<if test="condition.title != null">
				and s.title like concat("%",#{condition.title},"%")
			</if>
			<if test="condition.userId != null">
				and s.user_id = #{condition.userId}
			</if>
			<if test="condition.signUpGeTime != null">
				and s.sign_up_time <![CDATA[ >= ]]> #{condition.signUpGeTime}
			</if>
			<if test="condition.signUpLeTime != null">
				and n.sign_up_time <![CDATA[ <= ]]> #{condition.signUpLeTime}
			</if>
		</where>
	</select>

	<delete id="deleteManySignUps" parameterType="com.cuijing.sundial_dream.condition.SignUpCondition">
		delete from t_sign_up s set is_del = 1
		<where>
			<if test="condition.id != null">
				and s.id = #{condition.id}
			</if>
			<if test="condition.title != null">
				and s.title like concat("%",#{condition.title},"%")
			</if>
			<if test="condition.userId != null">
				and s.user_id = #{condition.userId}
			</if>
			<if test="condition.signUpGeTime != null">
				and s.sign_up_time <![CDATA[ >= ]]> #{condition.signUpGeTime}
			</if>
			<if test="condition.signUpLeTime != null">
				and n.sign_up_time <![CDATA[ <= ]]> #{condition.signUpLeTime}
			</if>
		</where>
	</delete>

</mapper>